<!-- Header Area Start -->
<header class="tj-header-area tj-header-absolute">
    <div class="tj-header-top d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="tj-header-top-wrapper">
                        <div class="tj-header-top-logo d-none d-xl-block">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logos"></a>
                        </div>
                        <div class="h1-header-infos">
                            <div class="infos-item">
                                <div class="infos-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="infos-content">
                                    <span class="label">Call Us</span>
                                    <span><a href="tel:+208555-0112">(208) 555-0112</a></span>
                                </div>
                            </div>
                            <div class="infos-item">
                                <div class="infos-icon">
                                    <i class="flaticon-email-2"></i>
                                </div>
                                <div class="infos-content">
                                    <span class="label">Email Us</span>
                                    <span><a href="mailto:helpcleaning&#64;gmail.com">helpcleaning&#64;gmail.com</a></span>
                                </div>
                            </div>
                            <div class="infos-item">
                                <div class="infos-icon">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="infos-content">
                                    <span class="label">Email Us</span>
                                    <span class="location">Shiloh, Hawaii 81063</span>
                                </div>
                            </div>
                        </div>
                        <div class="tj-header-top-social d-none d-lg-block">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tj-header-bottom">
        <div class="container gx-0">
            <div class="row gx-0">
                <div class="col">
                    <div class="tj-header-bottom-wrapper tj-header-bottom-row">
                        <div class="tj-header-bottom-mobile-logo d-block d-xl-none">
                            <a href="index.html">
                                <img src="assets/images/logo/primary-logo.png" alt="Logos">
                            </a>
                        </div>
                        <div class="tj-header-bottom-left d-none d-xl-block">
                            <div class="mainmenu-wrapper">
                                <div class="mainmenu-box">
                                    <div class="mainmenu main-mobile-menu d-none d-lg-inline-block">
                                        <ul>
                                            <li class="current-menu-ancestor">
                                                <a href="javascript:void(0)" (click)="navigateTo('/home')">Home</a>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="javascript:void(0)">Services</a>
                                                <ul class="sub-menu">
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/services')">Services</a></li>
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/service-details')">Services Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="javascript:void(0)">Portfolio</a>
                                                <ul class="sub-menu">
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/portfolio')">Portfolio</a></li>
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/portfolio-details')">Portfolio Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/about')">About</a></li>
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/teams')">Teams</a></li>
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/team-details')">Team Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="javascript:void(0)">News</a>
                                                <ul class="sub-menu">
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/blog-grid')">Blog Grid</a></li>
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/blog-stander')">Blog Stander</a></li>
                                                    <li><a href="javascript:void(0)" (click)="navigateTo('/blog-details')">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0)" (click)="navigateTo('/contact')">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tj-header-bottom-right">
                            <div class="tj-header-bottom-search d-none d-xl-block">
                                <button class="tj-header-search tj-search-popup"><i class="flaticon-search"></i></button>
                            </div>
                            <div class="tj-header-bottom-cart d-none d-sm-block">
                                <button class="tj-header-cart cartmini-open-btn"><i class="flaticon-cart"></i></button>
                            </div>
                            <div class="tj-header-bottom-mobile-button d-block d-xl-none">
                                <button class="tj-header-bottom-mobile-btn menu-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                            <div class="tj-header-bottom-button d-none d-xl-block">
                                <a class="tj-header-btn tj-arrow-btn" href="contact.html">Get a quote 
                                    <span class="icon_box">
                                        <i class="icon_first fa-regular fa-arrow-right"></i>
                                        <i class="icon_second fa-regular fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End-->

<!-- Sticky Header Area Start -->
<header class="tj-header-sticky header-sticky d-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="tj-header-bottom-wrapper">
                    <div class="tj-header-sticky-mobile-logo">
                        <a href="index.html">
                            <img src="assets/images/logo/primary-logo.png" alt="Logos">
                        </a>
                    </div>
                    <div class="tj-header-bottom-left d-none d-xl-block">
                        <div class="mainmenu-wrapper">
                            <div class="mainmenu-box">
                                <div class="mainmenu mainmenu-sticky d-none d-lg-inline-block">
                                    <ul>
                                        <li class="has-dropdown current-menu-ancestor">
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li class="current-menu-item"><a href="index.html">Home 01</a></li>
                                                <li><a href="index-2.html">Home 02</a></li>
                                                <li><a href="index-3.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown"><a href="service.html">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="service.html">Services</a></li>
                                                <li><a href="service-details.html">Services Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown"><a href="portfolio.html">Portfolio</a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown"><a href="blog-grid.html">News</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-stander.html">Blog Stander</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tj-header-bottom-right">
                        <div class="tj-header-bottom-search d-none d-xl-block">
                            <button class="tj-header-search tj-search-popup"><i class="fa-regular fa-magnifying-glass"></i></button>
                        </div>
                        <div class="tj-header-bottom-cart d-none d-sm-block">
                            <button class="tj-header-cart cartmini-open-btn"><i class="fa-regular fa-cart-shopping"></i></button>
                        </div>
                        <div class="tj-header-bottom-mobile-button d-block d-xl-none">
                            <button class="tj-header-bottom-mobile-btn menu-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <div class="tj-header-sticky-button d-none d-md-block">
                            <a class="tj-primary-btn tj-hover-btn" href="contact.html"><span>Get a quote <i class="flaticon-start"></i></span>
                                <div class="tj-hover-btn-circle-dot"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Sticky Header Area End -->