.tj-portfolio-details-top-thumb {
    img {
        max-height: 562px;
    }
}

.tj-service-details-center-image {
    img {
        max-height: 230px;
    }
}

.tj-portfolio-details-top-content {
    p {
        text-align: justify;
    }
}