<!-- Testimonial Area Start-->
<section class="tj-testimonial-area" data-background="assets/images/testimonial/testimonial-bg.jpg">
    <div class="tj-testimonial-bg-shape">
        <img class="tj-testimonial-bg-shape-1" src="assets/images/testimonial/testimonial-bg-shape.png" alt="">
        <img class="tj-testimonial-bg-shape-2" src="assets/images/testimonial/testimonial-bg-overlay-shape.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tj-section-wrapper text-center">
                    <h5 class="tj-section-subtitle wow fadeInRight" data-wow-delay=".3s"><span class="one"><i class="flaticon-start"></i></span> Testimonial <span class="two"><i class="flaticon-start"></i></span> </h5>
                    <h2 class="tj-section-title wow fadeInUp" data-wow-delay=".4s">What our clients say
                        About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tj-testimonial-slider wow fadeInUp" data-wow-delay=".5s">
                    <div class="tj-testimonial-active swiper-container">
                        <div class="swiper-wrapper">

                            <!-- slide 1 -->
                            <div class="tj-testimonial-wrapper swiper-slide">
                                <div class="tj-testimonial-top">
                                    <div class="tj-testimonial-top-member-details">
                                        <div class="tj-testimonial-top-member-img">
                                            <img src="assets/images/testimonial/testi-member-img-1.png" alt="">
                                        </div>
                                        <div class="tj-testimonial-top-member-content">
                                            <div class="testimonial-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 88%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                                </div>
                                            <h4 class="tj-testimonial-top-member-title">Brooklyn Simmons</h4>
                                            <p class="tj-testimonial-top-member-paragraph">Business Man</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-top-quate-icon">
                                        <span><i class="flaticon-right-quotation-mark"></i></span>
                                    </div>
                                </div>
                                <div class="tj-testimonial-bottom">
                                    <p class="tj-testimonial-bottom-paragraph">Many cleaning service providers allow customers to book services online or over the phone. Customers can typically choose the type of service, the date and time of may need.</p>
                                </div>
                            </div>

                            <!-- slide 2 -->
                            <div class="tj-testimonial-wrapper swiper-slide">
                                <div class="tj-testimonial-top">
                                    <div class="tj-testimonial-top-member-details">
                                        <div class="tj-testimonial-top-member-img">
                                            <img src="assets/images/testimonial/testi-member-img-2.png" alt="">
                                        </div>
                                        <div class="tj-testimonial-top-member-content">
                                            <div class="testimonial-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 88%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                                </div>
                                            <h4 class="tj-testimonial-top-member-title">Savannah Nguyen</h4>
                                            <p class="tj-testimonial-top-member-paragraph">Architect</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-top-quate-icon">
                                        <span><i class="flaticon-right-quotation-mark"></i></span>
                                    </div>
                                </div>
                                <div class="tj-testimonial-bottom">
                                    <p class="tj-testimonial-bottom-paragraph">Many cleaning service providers allow customers to book services online or over the phone. Customers can typically choose the type of service, the date and time of may need.</p>
                                </div>
                            </div>

                            <!-- slide 3 -->
                            <div class="tj-testimonial-wrapper swiper-slide">
                                <div class="tj-testimonial-top">
                                    <div class="tj-testimonial-top-member-details">
                                        <div class="tj-testimonial-top-member-img">
                                            <img src="assets/images/testimonial/testi-member-img-2.png" alt="">
                                        </div>
                                        <div class="tj-testimonial-top-member-content">
                                            <div class="testimonial-rating">
                                                <div class="star-ratings">
                                                    <div class="fill-ratings" style="width: 88%">
                                                        <span>★★★★★</span>
                                                    </div>
                                                    <div class="empty-ratings">
                                                        <span>★★★★★</span>
                                                    </div>
                                                </div>
                                                </div>
                                            <h4 class="tj-testimonial-top-member-title">Savannah Nguyen</h4>
                                            <p class="tj-testimonial-top-member-paragraph">Architect</p>
                                        </div>
                                    </div>
                                    <div class="tj-testimonial-top-quate-icon">
                                        <span><i class="flaticon-right-quotation-mark"></i></span>
                                    </div>
                                </div>
                                <div class="tj-testimonial-bottom">
                                    <p class="tj-testimonial-bottom-paragraph">Many cleaning service providers allow customers to book services online or over the phone. Customers can typically choose the type of service, the date and time of may need.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tj-testimonial-slide-dot text-center"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End-->