<div>
    <!-- Slider -->
    <app-slider></app-slider>

    <!-- About -->
    @if (dataHomePage) {
        <app-about-main [dataHomePage]="dataHomePage"></app-about-main>
    }

    <!-- Service -->
    @if (dataHomePage) {
        <app-service-main [dataHomePage]="dataHomePage"></app-service-main>
    }

    <!-- Team -->
    @if (dataHomePage) {
        <app-team-main [dataHomePage]="dataHomePage"></app-team-main>
    }

    <!-- Before-After -->
    @if (dataHomePage) {
        <app-before-after></app-before-after>
    }

    <!-- Choose Us -->
    <app-choose-us></app-choose-us>

    <!-- Pricing Plan -->
    @if (dataHomePage) {
        <app-pricing-plan [dataHomePage]="dataHomePage"></app-pricing-plan>
    }

    <!-- Portfolio -->
    @if (dataHomePage) {
        <app-portfolio [dataHomePage]="dataHomePage"></app-portfolio>
    }

    <!-- Contact -->
    <app-contact-main></app-contact-main>

    <!-- Testimonial -->
    @if (dataHomePage) {
        <app-testimonial [dataHomePage]="dataHomePage"></app-testimonial>
    }

    <!-- Blog -->
    @if (dataHomePage) {
        <app-blog-main [dataHomePage]="dataHomePage"></app-blog-main>
    }
</div>
