<div>
    <!-- Slider -->
    <app-slider></app-slider>

    <!-- About -->
    <app-about-main></app-about-main>

    <!-- Service -->
    <app-service-main></app-service-main>

    <!-- Team -->
    <app-team-main></app-team-main>

    <!-- Before-After -->
    <app-before-after></app-before-after>

    <!-- Choose Us -->
    <app-choose-us></app-choose-us>

    <!-- Pricing Plan -->
    <app-pricing-plan></app-pricing-plan>

    <!-- Portfolio -->
    <app-portfolio></app-portfolio>

    <!-- Contact -->
    <app-contact-main></app-contact-main>

    <!-- Testimonial -->
    <app-testimonial></app-testimonial>

    <!-- Blog -->
    <app-blog-main></app-blog-main>
</div>